.main-footer {
  width: 957px;
  padding: 240px 0 50px 0;
  margin: 0 auto;
}

.main-footer h2 {
  @include text-title-l();
  max-width: 555px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.main-footer p {
  max-width: 555px;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  color: var(--special-black);
  padding-bottom: 40px;
  margin: 0 auto;
}

.main-footer img {
  display: block;
  width: 957px;
  height: 530px;
  object-fit: cover;
  background-color: var(--basic-grey);
  margin: 0 auto 33px auto;
}

.main-footer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-footer__link {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--special-black-light);
  padding-left: 37px;
  margin: 0 51px 10px 39px;

  &::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &--email {
    line-height: 22px;

    &::before {
      width: 26px;
      height: 20px;
      left: -4px;
      background-image: url("../img/icon-email.png");
    }
  }

  &--tel {
    line-height: 32px;

    &::before {
      width: 22px;
      height: 23px;
      top: 3px;
      background-image: url("../img/icon-phone.png");
    }
  }

  &:hover,
  &:focus,
  &:hover::before,
  &:focus::before {
    opacity: 0.7;
  }

  &:active,
  &:active::before {
    opacity: 0.3;
  }
}

@media (max-width: $desktop-width - 1px) {
  .main-footer {
    width: 100%;
    padding: 155px 35px 40px 35px;
  }

  .main-footer h2 {
    font-size: 24px;
    padding-bottom: 20px;
  }

  .main-footer p {
    max-width: initial;
    padding-bottom: 20px;
  }

  .main-footer img {
    height: 545px;
    margin-bottom: 16px;
  }
}

@media (max-width: $tablet-width - 1px) {
  .main-footer {
    padding: 119px 0 40px 0;
  }

  .main-footer h2 {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-footer p {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 19px;
  }

  .main-footer img {
    height: 250px;
    margin-bottom: 17px;
  }

  .main-footer__link {
    margin: 10px;
  }
}
