.selection {
  min-height: 825px;
  background-image: url('../img/promo-bike.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--basic-black);
  padding-top: 260px;
}

.selection > div {
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media (min-resolution: 2dppx) {
  .selection {
    background-image: url('../img/promo-bike@2x.jpg');
  }
}

@media (max-width: $desktop-width - 1px) {
  .selection {
    min-height: initial;
    background-size: auto 426px;
    background-position: top -41px center;
    padding-top: 139px;
  }

  .selection > div {
    display: block;
    max-width: initial;
    margin: 0 auto;
  }
}

@media (max-width: $tablet-width - 1px) {
  .selection {
    background-size: auto 390px;
    background-position: center top;
    padding-top: 122px;
  }
}
