.wrapper {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  outline: 5px solid yellowgreen;
  outline-offset: -5px;
}

@media (max-width: $tablet-width - 1px) {
  .wrapper {
    padding: 0 15px;
  }
}
